{% extends "HttpiMaritimeAdminBundle:Default:layout.html.twig" %}

{% block css %}
	{{ parent() }}
	{% stylesheets '@HttpiMaritimeAdminBundle/Resources/public/css/apydatagrid.css'%}
	<link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
	<link href="{{ asset('bundles/httpimaritimeadmin/css/apydatagrid.css') }}" type="text/css" rel="stylesheet" />
{% endblock %}

{% block breadcrumbs %}
<ul>
	<li><h1 class="title">{{ sectionTitle }}</h1></li>
</ul>
{% endblock %}

{% block content %}
{{ grid(grid) }}
{% endblock %}