{% extends "HttpiCoreBundle:Crud:edit.html.twig" %}

{% block meta_copyright %}&copy; Rus Cristian{% endblock %}
{% block title %}Lexmar Admin - Edit glossary term{% endblock %}
{% block menu %}{% include 'HttpiMaritimeAdminBundle:Default:menu.html.twig' %}{% endblock %}

{% block breadcrumbs %}
<ul>
	<li><a href="{{ path('httpi_maritime_admin_glossary_index') }}">Glossary</a></li>
	<li><h1 class="title">- Edit #{{ id }}</h1></li>
</ul>
{% endblock %}

{% block content %}
{{ form(form, {'attr': {'class': 'default'}, 'action': '#'}) }}
<p class="button error delete"><a href="{{ path('httpi_maritime_admin_glossary_delete', {'id': id}) }}">Delete</a></p>
<p class="button back"><a href="{{ path('httpi_maritime_admin_glossary_index') }}">Back to list</a></p>
{% endblock %}

{% block sidebar %}
<form action="#" class="dropzone"></form>
{% endblock %}

{% block css %}
    {{ parent() }}
    {% stylesheets
        '@HttpiMaritimeAdminBundle/Resources/public/css/general.css'
        '@HttpiMaritimeAdminBundle/Resources/public/css/breadcrumbs.css'
        '@HttpiMaritimeAdminBundle/Resources/public/js/jquerymsgbox/Styles/msgBoxLight.css'
        '@HttpiMaritimeAdminBundle/Resources/public/css/form.css'
        '@HttpiMaritimeAdminBundle/Resources/public/js/dropzone/css/dropzone.css'
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block js %}
    {{ parent() }}
    {% javascripts
        '@HttpiCoreBundle/Resources/public/js/jquerymsgbox/Scripts/jquery.msgBox.js'
        '@HttpiCoreBundle/Resources/public/js/jqwidgets/jqwidgets/jqxcore.js'
        '@HttpiCoreBundle/Resources/public/js/jqwidgets/jqwidgets/jqxmenu.js'
        '@HttpiCoreBundle/Resources/public/js/jqwidgets/jqwidgets/jqxbuttons.js'
        '@HttpiMaritimeAdminBundle/Resources/public/js/form.js'
        '@HttpiMaritimeAdminBundle/Resources/public/js/run.js'
        '@HttpiMaritimeAdminBundle/Resources/public/js/dropzone/dropzone.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}